@charset "ISO-8859-1";

body, html {
  height: 100%;
  background:#f2f2f2;
}

.bg-light {
  /* The image used */
  

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;

  background-size: cover;
}


.h1, h1 {
	padding:10px 0px 0px 0px;
    font-size: 50px;
    font-family: comics soon;
}


.btn-light{	
    color: #fff;
    width:200px;
    background-color: red;
    border-radius: 10px;
    border: none;
	outline:none;
	color: #fff;
	font-size:18px;
	font-weight:bold;
}


.btn-light:hover
{
	cursor: pointer;
	background:yellow;
	color: #000;
}




input{
	border: solid 2px;
	width:200px;
}


.my-5 {
    margin-top: 2rem!important;
    margin-bottom: 2rem!important;
}


.my-4 {
    margin-top: 20rem!important;
    margin-bottom: 2rem!important;
    margin-left: 3rem!important;
}


@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";