@charset "ISO-8859-1";

body, html {
  height: 100%;
  background:#f2f2f2;
}

.bg-light {
  /* The image used */
  

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;

  background-size: cover;
}


.h1, h1 {
	padding:10px 0px 0px 0px;
    font-size: 50px;
    font-family: comics soon;
}


.btn-light{	
    color: #fff;
    width:200px;
    background-color: red;
    border-radius: 10px;
    border: none;
	outline:none;
	color: #fff;
	font-size:18px;
	font-weight:bold;
}


.btn-light:hover
{
	cursor: pointer;
	background:yellow;
	color: #000;
}



.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  position:absolute;
  top:10%;
  left:34%;	
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 33%;
 
  transition: all 1s ease-in-out;
  border:solid red;
}

.content h3 {
 font-size:24px;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}



.content p{
	font-size:20px;
}

.btn-outline-light{	
    color: black;
    border-radius: 10px;
  	 border-color: red;
	outline:none;

}


.btn-outline-light:hover
{
	cursor: pointer;
	background:yellow;

}

.my-4 {
    margin-top: 8rem!important;
    margin-bottom: 3rem!important;
    margin-left:3rem!important;
}

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
